.w3-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.columns {
    display: block;
}

#player {
    background-color: #830E0D;
}


@media only screen and (min-width:768px) {
    .w3-container {
        width: 40%;
    }

    .columns {
        display: flex;
        flex-wrap: wrap;
    }

    #player {
        flex: 20%;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    

}